* {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --text-color: #000;
  --background-color: #fff;

}

body {
  background: var(--background-color);
  color: var(--text-color);
}



#main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 0 auto;
  grid-gap: 2.5em;
  max-width: 100%;
  padding: 3em;
}

.content {
  height: 400px;
  width: 350px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.btn {
  padding: 10px 20px;
  border: none;
  background: #000;
  color: rgb(210, 208, 208);
  cursor: pointer;
}

.btn:active {
  transform: scale(.9);
}

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;

}

.modal-content {
  width: 70%;
  height: 75%;
  margin: 5em auto;
  background: var(--background-color);
  color: var(--text-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.close-btn:hover {
  color: rgba(0, 0, 0, 0.9)
}

select {
  padding: .5em 1em;
  font-size: 1em;
  background: var(--background-color);
  color: var(--text-color);
}

.defaultTheme {
  --background-color: #fff;
  --text-color: #000;
}


.pulpfiction {
  --text-color: blue;
  --background-color: yellow;
}

.fightclub {
  --text-color: yellow;
  --background-color: blue;
}

.goodfellas {
  --text-color: #fff;
  --background-color: rgb(194, 23, 66);
}

.inception {
  --text-color: purple;
  --background-color: green;
}